{% extends 'admin/base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1 class="h1 mt-3 mb-4">Felhasználó szerkesztése: #{{ user.id }}</h1>

    {{ include('admin/user/_form.html.twig', {button_label: 'Módosít', button_class: 'btn btn-primary btn-sm'}) }}
{% endblock %}
